<div class="career-position">
<p class="career-position-name">
    {{position}}
</p>
<p class="career-position-period">
    {{start}} - {{end}}
</p>
<p class="career-position-description">
    {{> @partial-block}}
</p>
</div>
