<section id="about" class="section section-about">
    <div class="section-content">
        <h2>
            Career
        </h2>
                {{> career-item start="2013" end="2018" position-name="Android"}}
                {{> career-item start="2013" end="2018" position-name="Android"}}
                {{> career-item start="2013" end="2018" position-name="Android"}}
                {{> career-item start="2013" end="2018" position-name="Android"}}
                {{> career-item start="2013" end="2018" position-name="Android"}}
                {{> career-item start="2013" end="2018" position-name="Android"}}
                {{> career-item start="2013" end="2018" position-name="Android"}}
                {{> career-item start="2013" end="2018" position-name="Android"}}
    </div>
</section>
