<div class="career-description">
  <span class="text text--semibold career-period">
    <span>{{start}}-</span><span> {{end}}</span>
  </span>
  <div class="timeline"></div>
  <div class="career-position">
    <p class="text text--semibold career-position-name">
      {{position}}
    </p>

    <p class="text text--regular career-position-description">
      {{> @partial-block}}
    </p>
  </div>
</div>
