.section-career {
  .section-content {
    display: flex;
    max-width: 80rem;
    margin: 0 3.6rem;
    flex-direction: column;

    .section-header {
      font-size: 4em;
      color: var(--base-weak);
    }

    .career-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;

      .career-company {
        flex-grow: 1;
        font-size: 1.4em;
        margin: 0 0 2rem;
        color: var(--base-weak);
      }

      .career-company-description {
        display: flex;
        flex-direction: column;
      }

      .career-description {
        flex-basis: 60%;
        display: flex;
        flex-direction: row;
        flex-grow: 1;

        .career-period {
          display: flex;
          justify-content: flex-end;
          font-size: 1.2em;
          min-width: 10rem;
          text-align: right;
          color: var(--complement-strong);

          @media (max-width: 375px) {
            justify-content: flex-start;
            flex-direction: column;
            min-width: 4.5rem;
          }
        }

        .timeline {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-left: 2.2rem;
          margin-right: 4.2rem;
          margin-top: 0.5em;

          &:before {
            content: "";
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background-color: var(--base-weak);
            margin-bottom: 8px;
          }

          &:after {
            content: "";
            width: 1px;
            background-color: var(--base-weak);
            position: relative;
            flex: 1;
          }
        }

        .career-position {
          .career-position-name {
            margin: 0 0 0.8rem;
            font-size: 1.4em;
            color: var(--base-weak);
          }

          .career-position-description {
            margin: 0 0 2.4rem;
            line-height: 1.2;
            max-width: 50rem;
            font-size: 1.4em;
            color: var(--base-weak);
          }
        }
      }
    }
  }
}
