<section id="about" class="section section-career">
    <div class="section-content">
        <h2>
            Work Experience
        </h2>
        <div>
            {{#> career-company company="Mercury Development"}}
                {{#> career-position position="Angular Developer" start="2018" end="Present"}}
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Pharetra sit amet aliquam id diam. Congue eu consequat ac felis donec. Id eu
                    nisl nunc mi ipsum. Faucibus ornare suspendisse sed nisi lacus sed viverra tellus. Pretium aenean
                    pharetra magna ac placerat vestibulum. Et malesuada fames ac turpis egestas sed tempus urna et.
                    Integer eget aliquet nibh praesent tristique magna sit. Egestas egestas fringilla phasellus faucibus
                    scelerisque eleifend donec. Proin sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. Ac
                    turpis egestas sed tempus urna. Purus in mollis nunc sed id semper risus in hendrerit. Volutpat est
                    velit egestas dui. In eu mi bibendum neque egestas congue quisque egestas. Vel pharetra vel turpis
                    nunc eget lorem dolor sed viverra. Et leo duis ut diam quam nulla porttitor. Maecenas volutpat
                    blandit aliquam etiam erat velit scelerisque in.

                {{/career-position}}
            {{/career-company}}
        </div>
    </div>
</section>
