$icomoon-font-family: "icons" !default;
$icomoon-font-path: "../../assets/fonts" !default;

$icon-vk: "\e902";
$icon-twitter: "\e900";
$icon-linkedin: "\e901";
$icon-instagram: "\e903";
$icon-facebook: "\e904";


