<header id="header" class="header-wrapper">
  <nav class="header">
    <h2 class="visuallyhidden">
      Main Menu
    </h2>
    <h2 class="logo">
      <span class="visuallyhidden">
        Logo
      </span>
    </h2>
    <ul class="header-navigation">
      <li class="navigation-item">
        <a class="text text--semibold" href="#about">
          {{ i18n "hd_about"}}
        </a>
      </li>
      <li class="navigation-item">
        <a class="text text--semibold" href="#contact">
          {{ i18n  "hd_experience" }}
        </a>
      </li>
    </ul>
  </nav>
</header>