<header id="header" class="header-wrapper">
  <nav class="header">
    <h2 class="visuallyhidden">
      Main Menu
    </h2>
    <h2 class="logo">
      <span class="visuallyhidden">
        Logo
      </span>
    </h2>
    <ul class="header-navigation">
      <li class="navigation-item">
        <a class="text text--semibold" href="#about">
          {{ i18n "hd_about"}}
        </a>
      </li>
      <li class="navigation-item">
        <a class="text text--semibold" href="#career">
          {{ i18n  "hd_experience" }}
        </a>
      </li>
    </ul>
  </nav>

  <nav class="social">
    <ul class="social-navigation">
      <li>
        <a class="navigation-item icon icon-facebook" href="https://facebook.com">
          <span class="visuallyhidden">
            Facebook
          </span>
        </a>
      </li>
      <li>
        <a class="navigation-item icon icon-vk" href="https://vk.com/zmei95">
          <span class="visuallyhidden">
            VK
          </span>
        </a>
      </li>
      <li>
        <a class="navigation-item icon icon-linkedin" href="https://vk.com/zmei95">
          <span class="visuallyhidden">
            Linked In
          </span>
        </a>
      </li>
    </ul>
  </nav>

</header>