<header class="header-wrapper">
  <nav class="header">
    <h2 class="visuallyhidden">
      Main Menu
    </h2>
    <h2 class="logo">
    </h2>
    <ul class="header-navigation">
      <li class="navigation-item">
        <a class="test" href="#home">
          Home
        </a>
      </li>
      <li class="navigation-item">
        <a href="#about">
          About Me
        </a>
      </li>
      <li class="navigation-item">
        <a href="#contact">
          My Contact
        </a>
      </li>
    </ul>
  </nav>
</header>