<footer>
    <div class="footer-wrapper">
        <div class="footer">
            <div class="logo"></div>
            <div class="social-links" role="navigation">
                <a class="link-item icon icon-facebook" href="https://facebook.com"></a>
                <a class="link-item icon icon-vk" href="https://vk.com/zmei95"></a>
                <a class="link-item icon icon-linkedin" href="https://vk.com/zmei95"></a>
            </div>
            <p class="copyright">
                Copyright© 2020 Ilya Kuraganskiy
            </p>
        </div>
    </div>
</footer>
