<footer>
  <div class="footer-wrapper">
    <div class="footer">
      <div class="logo">
        <span class="visuallyhidden">
          Logo
        </span>
      </div>
      <div class="social-links" role="navigation">
        <a class="link-item icon icon-facebook" href="https://facebook.com">
          <span class="visuallyhidden">
            Facebook
          </span>
        </a>
        <a class="link-item icon icon-vk" href="https://vk.com/zmei95">
          <span class="visuallyhidden">
            VK
          </span>
        </a>
        <a class="link-item icon icon-linkedin" href="https://vk.com/zmei95">
          <span class="visuallyhidden">
            Linked In
          </span>
        </a>
      </div>
      <p class="copyright">
        Copyright© 2020 Ilya Kuraganskiy
      </p>
    </div>
  </div>
</footer>