.section-main {
  padding: 0 var(--padding-horizontal);
  background-color: var(--faint-weak);
  display: flex;
  flex-direction: row;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: row;
    min-height: 45rem;
    flex-wrap: wrap;
    width: 100%;
    max-width: var(--max-width-section);
    padding: 2rem 0;


    .content-text {
      padding: 2rem 0;
      align-self: center;
      max-width: 50%;
      min-width: 30rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h3 {
        font-size: 2em;
      }

      p {
        font-size: 1.5em;
      }

      button {
        margin-top: 2rem;
      }
    }

    .content-image{
      flex-grow: 1;
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .image {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
