<section id="about" class="section section-main">
  <div class="section-content">
    <div class="content-image">
      <div class="circles">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <img
          class="image"
          alt="My Profile"
          src="../../../assets/images/avatar.svg"
        />
      </div>
    </div>
    <div class="content-text">
      <span class="text text--regular position">Frontend Developer</span>
      <h3 class="text text--regular name">
        Ilya Kurganskii
      </h3>
      <p class="text description">
        {{i18n "about_description"}}
      </p>
      <button class="button button--large button--primary">
        Say Hi
      </button>
    </div>

  </div>
</section>
