.section-main {
  min-height: calc(100vh - var(--header-height));
  .section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: var(--max-width-section);
    padding: 1rem var(--padding-horizontal);

    .content-text {
      flex-basis: 42%;
      padding: 2rem 3.6rem 2.4rem;
      min-width: 30rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .position {
        font-size: 1.6rem;
        color: var(--complement-strong);
      }

      .name {
        color: var(--base-weak);
        line-height: 1.2em;
      }

      .description {
        color: var(--base-weak);
        margin-top: 3.2rem;
        max-width: 44rem;
        line-height: 130%;
        font-size: 1.6em;
      }

      .button {
        font-size: 1.4em;
        margin-top: 2rem;
        text-decoration: none;
      }
    }

    .content-image {
      margin: 0 2.5rem;
      flex-basis: 30%;
      display: flex;

      .circles {
        position: relative;
        width: 47rem;
        height: 47rem;
        min-width: 47rem;

        .circle {
          box-sizing: border-box;
          position: absolute;
          width: 100%;
          height: 100%;

          &::before {
            display: block;
            content: "";
            border-radius: 50%;
            width: 100%;
            height: 100%;
            border: solid 1px var(--complement-strong);
          }

          &:nth-child(1) {
            opacity: 0.3;
          }

          &:nth-child(2) {
            padding: 1.6rem 3rem 3rem 1.6rem;
            opacity: 0.4;
          }

          &:nth-child(3) {
            padding: 3.3rem 6.3rem 6.3rem 3.3rem;
            opacity: 0.6;
          }

          &:nth-child(4) {
            padding: 4.1rem 8.7rem 9.7rem 5.1rem;
            opacity: 0.7;
          }
        }

        .image {
          margin-top: 5.2rem;
          margin-left: 6.3rem;
          width: 30rem;
          height: 30rem;
          object-fit: contain;
          background-color: white;
          border-radius: 50%;
        }
      }
    }
  }
}
