<section id="home" class="section section-main">
  <div class="content">
    <div class="content-text">
      <h3 class="text text--bold">
        I'm Ilya
      </h3>
      <p class="text">
        Web (React) & Mobile (React-Native) Developer
      </p>
      <button class="button button--large button--primary">
        Hire Me
      </button>
    </div>
    <div class="content-image">
      <img class="image" alt="My Profile" src="assets/images/avatar.svg" />
    </div>
  </div>
</section>
