.section-contact {
  .section-content {
    display: flex;
    flex-direction: column;
    padding: 1.5rem var(--padding-horizontal);

    .fieldset {
      padding: 1.5rem 0;
      display: flex;
      border: none;

      &.fieldset--row {
        flex-direction: row;
      }

      &.fieldset--column {
        flex-direction: column;
      }

      .label {
        font-size: 1.3em;
        color: var(--faint-strong);
        margin-bottom: 1em;
        text-transform: uppercase;
      }
    }

    .contact-name-email-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .contact-name,
    .contact-email {
      flex-basis: 47%;
    }

    .contact-text {
      min-height: 5em;
    }
  }
}
