<section id="contact" class="section section-contact">
  <form id="contact-form" class="section-content contact-form">
    <div class="fieldset contact-name-email-wrapper fieldset--row">
      <div class="fieldset contact-name fieldset--column">
        <label class="label" for="name">
          Name
        </label>
        <input class="input" id="name" type="text" />
      </div>
      <div class="fieldset contact-email fieldset--column">
        <label class="label" for="email">
          Email
        </label>
        <input class="input" id="email" type="email" />
      </div>
    </div>
    <div class="fieldset fieldset--column">
      <label class="label" for="text">
        Your message
      </label>
      <textarea class="input contact-text" id="text">
      </textarea>
    </div>
    <button type="submit" class="button button--primary button--large">
      Send message
    </button>
  </form>
</section>
