html {
  scroll-behavior: smooth;
}

h3 {
  margin: 0;
  font-size: 4em;
}


.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.logo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:before {
    content: "IK";
    font-family: "Primary", serif;
    font-weight: bold;
    font-size: 4rem;
    color: var(--base-weak);
  }
  &:after {
    position: absolute;
    left: 0;
    bottom: -1.2rem;
    content:'dev';
    font-family: "Primary", serif;
    font-weight: bold;
    font-size: 2rem;
    color: var(--base-weak);
  }
}
