html {
  scroll-behavior: smooth;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.logo {
  display: flex;
  align-items: center;
  &:before {
    content: "IK";
    font-size: 2.5rem;
    border: 1px solid var(--accent-strong);
    padding: 0.2em;
    border-radius: 0 0.2em 0.2em 0;
    color: var(--accent-strong);
  }
}
