html {
  font-family: "Primary", serif;
  font-size: 10px;
}

@font-face {
  font-family: "Primary";
  font-weight: normal;
  src: url("../assets/fonts/Blinker-Regular.ttf");
}

@font-face {
  font-family: "Primary";
  font-weight: bold;
  src: url("../assets/fonts/Blinker-Bold.ttf");
}

.text--regular {
  font-family: "Primary", serif;
  font-weight: normal;
}

.text--bold {
  font-family: "Primary", serif;
  font-weight: bold;
}
