html {
  font-family: "Primary", serif;
  font-size: 10px;
}

@font-face {
  font-family: "Primary";
  src: url("../assets/fonts/Comfortaa-VariableFont_wght.ttf");
}

.text.regular {
  font-variation-settings: "wdth" 500, "wght" 400;
}

.text.bold {
  font-variation-settings: "wdth" 400, "wght" 600;
}
