<!doctype html>
<html lang="{{i18n "locale"}}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>

  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
<div class="back background">
  {{> partials/header/header}}
  <main>
    {{> partials/sections/main/main}}
    {{> partials/sections/career/career}}
  </main>
  {{> partials/footer/footer}}
</div>
</body>
</html>
