<!doctype html>
<html lang="{{i18n "locale"}}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
        {{> partials/header/header}}
        <main>
            {{> partials/sections/main/main}}
            {{> partials/sections/career/career}}
            {{> partials/sections/contact/contact}}
        </main>
        {{> partials/footer/footer}}
</body>
</html>
